<h3>Welcome to Simple Evite! Here is the event form</h3>
<form action="/events/submit" method="POST">
	<label for="name">Enter an event name</label>
	<input type="text" name="event[name]" value="e.g: Picnic" />
	<br/>

	<label for="date">Select an event date</label>
  <input type="date" name="event[date]" value="Enter the event date" />
	<br/>

	<input type="submit" value="Submit" />
</form>
